body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  position: relative;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.tinyDancer {
  border:none;
  background-image: url(src/elton.png);
  background-size: 170px 260px;

  height: 260px;
  width: 170px;
  background-repeat: no-repeat;
  margin-left:10%;
}

.dancing {
  -webkit-animation: dance .9s linear infinite;
  animation: dance .9s steps(4) infinite;
}

.flyingSpears {
  border:none;
  background-image: url(http://danaeph.files.wordpress.com/2012/01/britney-spears-femme-fatale-tour-celebrity-gossip-31.jpg);
  background-size: 324px 178px;
  height: 178px;
  width: 324px;
  background-repeat: no-repeat;
  margin-left:10%;
}

.piano {
  border:none;
  background-image: url(src/piano.png);
  background-size: 260px 170px;
  height: 170px;
  width: 260px;
  background-repeat: no-repeat;
}
.piano-button {
  position: absolute;
  left: 77%;
  top: 150px;
  z-index: 999;
  font-family: 'Arial', 'sans-serif';
  padding: 4px 7px;
  background-color: #4d4d4d;
  border-radius: 4px;
  text-decoration: none;
  visibility: hidden;
}

#dancefloor {
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 250px;
}

#stage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(http://crazyaboutpie.files.wordpress.com/2014/01/stage-left.gif);
  position: relative;
  margin: 0 auto;
  height: 900px;
  width: 1200px;
  overflow: hidden;
}

/* Walking Styles */
.moonwalker {
  border: none;
  height: 148px;
  width: 105px;
  border-radius: 0;
  background-repeat: no-repeat;
  /*background-position: ;*/
}

.vogue {
  -webkit-animation: none !important;
  animation: none !important;
  background-position: -306px;
}

.walk-right {
  background-image: url(src/walk-right.png);
  -webkit-animation: walk .9s steps(6) infinite;
  animation: walk .9s steps(6) infinite;
}

.walk-left {
  background-image: url(src/walk-left.png);
  -webkit-animation: walk .9s steps(6) infinite;
  animation: walk .9s steps(6) infinite;
}

@-webkit-keyframes walk {
  from { background-position: 0px; }
  to { background-position: -612px; }
}
@-keyframes walk {
  from { background-position: 0px; }
  to { background-position: -612px; }
}

@-webkit-keyframes dance {
  0% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
  }
}


