body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  position: relative;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.tinyDancer {
  border:none;
  background-image: url(http://i.dailymail.co.uk/i/pix/2013/07/09/article-2358763-1870B4EA000005DC-85_634x727.jpg);
  background-size: 210px 240px;
  border-radius: 210px 240px;
  height: 240px;
  width: 170px;
  background-repeat: no-repeat;
  margin-left:10%;
}

.flyingSpears {
  border:none;
  background-image: url(http://danaeph.files.wordpress.com/2012/01/britney-spears-femme-fatale-tour-celebrity-gossip-31.jpg);
  background-size: 324px 178px;
  height: 178px;
  width: 324px;
  background-repeat: no-repeat;
  margin-left:10%;
}

#dancefloor {
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 250px;
}

#stage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(http://crazyaboutpie.files.wordpress.com/2014/01/stage-left.gif);
  position: relative;
  margin: 0 auto;
  height: 900px;
  width: 1200px;
  overflow: hidden;
}

/* Walking Styles */
.moonwalker {
  border: none;
  height: 148px;
  width: 100px;
  border-radius: 0;
}

.walk-right {
  background-image: url(src/walk-right.png);
  -webkit-animation: walk .9s steps(6) infinite;
  animation: walk .9s steps(6) infinite;
}

.walk-left {
  background-image: url(src/walk-left.png);
  -webkit-animation: walk .9s steps(6) infinite;
  animation: walk .9s steps(6) infinite;
}

@-webkit-keyframes walk {
  from { background-position: 0px; }
  to { background-position: -612px; }
}
@-keyframes walk {
  from { background-position: 0px; }
  to { background-position: -612px; }
}
